@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#container{
  background-color: rgb(181, 178, 242);
      height: 100%;
    width: 100%;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 1s linear infinite; /* Aplica la animación "rotate" */
}

ion-button{
  --background:  rgb(109, 93, 154) ;

}