<ion-content>

  <div id="container">

    <div>
      <img src="../../assets/img/kids1.jpg" style="height: 40%;" alt="">
    </div>

    <div class="ion-text-center" style="background-color: rgb(181, 178, 242); align-items: center; justify-content: center;">
     <br><br>
      <img src="../../assets/img/world.png" alt="" style="height: 100px;">
<br><br>
      <ion-item style="margin-right: 20px; margin-left: 20px;">
        <ion-label>Email: </ion-label>
        <ion-input type="email" [(ngModel)]="usuario.correo" name="email"></ion-input>
      </ion-item>
      <br><br>
      <ion-item style="margin-right: 20px; margin-left: 20px;">
        <ion-label>Clave: </ion-label>
        <ion-input type="password" [(ngModel)]="usuario.password" name="password"></ion-input>
      </ion-item>

      <br><br>
      <ion-button color="secondary" shape="round"  block (click)="verificarUsuarioExistente()">Ingresar</ion-button><br>

      <div *ngIf="mostrarSpinner" class="spinner">
        <img src="../../assets/img/world.png" height="30px" class="spinner">
      </div>
      <br>

      <div class="ion-align-items-center ion-text-center" style="display: inline-block;">
        <br><br>
        <ion-button  block (click)="autocompletarUsurio1()"><img style="height: 50px; width: auto;" src="../../assets/img/user.png" alt=""></ion-button>
       
    
        <ion-button   block (click)="autocompletarUsurio2()"><img style="height: 50px; width: auto;" src="../../assets/img/invitado.png" alt=""></ion-button>
       
    
        <ion-button  class="ion-button-small"  block (click)="autocompletarUsurio3()"><img style="height: 50px; width: auto;" src="../../assets/img/admin.png" alt=""></ion-button>
         
      </div>

      <br><br>
    </div>








  </div>





</ion-content>
