<ion-content [fullscreen]="true">
  <div id="container">

    <div [ngClass]="{'parpadeo': mostrarParpadeo}">
      <app-idiomas (idiomaSeleccionado)="onIdiomaSeleccionado($event)"></app-idiomas>
    </div>


    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let animal of animales">
          <img height="100px" src="../../assets/img/animales/{{animal}}.png" alt="" (click)="reproducirAudio('{{animal}}.mp3')">
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
