
#container{

    margin-top: 5px;
    margin-right: 0px;
    height: 10vh;
    width: 100vw;
  
  
  }
  
  
  img{
    display: inline-block;
    height: 60px;
    width: auto;
    padding: 5px;
  }


#header {
  display: inline-block;
}

.fab-container {
  display: flex;
  gap: 10px; /* Añade espacio entre los botones si es necesario */
}