

#container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/fondo.jpeg');
  background-size: cover;
  opacity: 0.1; /* Ajusta la opacidad según tu preferencia */
  z-index: -1; /* Asegura que esté detrás de los elementos hijos */
}

img {
  display: block; /* Asegura que la imagen se muestre como un bloque */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}


@keyframes parpadeo {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.parpadeo {
  animation: parpadeo 1s infinite;
}

/* Media queries para ajustar el diseño en función del tamaño de la pantalla */
