#container {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; /* Centra verticalmente el contenedor */
  transform: translateY(-50%); /* Centra verticalmente el contenedor */
  background-color: rgb(255, 223, 127);
  height: 100vh; /* Ajusta automáticamente la altura del contenedor según el contenido */
  width: 100vw;
}

img {
  margin-top: 20px; /* Añade un espacio entre las imágenes */
  background-color: rgb(255, 234, 206);
  border: rgb(255, 182, 87) solid 4px;
  border-radius: 10%;
  display: block;
}