<ion-content>
  <div id="container">

    <app-idiomas (idiomaSeleccionado)="onIdiomaSeleccionado($event)"></app-idiomas>


    <br>
    <img class="img" src="../../assets/img/all-animals.png" alt="" height="180px" width="180px" (click)="elegirSeccion('animales')">
    <img class="img" src="../../assets/img/all-color.png" alt="" height="180px" width="180px" (click)="elegirSeccion('colores')">
    <img class="img" src="../../assets/img/all-numbers.png" alt="" height="180px" width="180px" (click)="elegirSeccion('numeros')">
    <img class="logoff-img" src="../../assets/img/logOff.png" alt="" (click)="cerrarSesion()">
  </div>
</ion-content>