
<ion-content >

    <div id="container">
      
      <app-idiomas (idiomaSeleccionado)="onIdiomaSeleccionado($event)"></app-idiomas>

      <h1>{{idiomaSeleccionado}}</h1>
      <img src="../../assets/img/all-animals.png" alt="" height="170px" width="170px" (click)="elegirSeccion('animales')">
      <img src="../../assets/img/all-color.png" alt="" height="170px" width="170px" (click)="elegirSeccion('colores')">
      <img src="../../assets/img/all-numbers.png" alt="" height="170px" width="170px" (click)="elegirSeccion('numeros')">
  
      
  
    </div>
  </ion-content>